<!DOCTYPE html>
<html>
	<head>
	  <title>Cashier</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="contrainer">
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
